.btn {
    border-radius: 2em;
    padding: 4px;
    background-color: rgb(225, 188, 243);
    border-color: antiquewhite;
    cursor: pointer;
}
.btn-facebook{
    border-color: antiquewhite;
    border-radius: 2em;
    padding: 4px;
    background-color: rgb(201, 152, 210);
    cursor: pointer;
}

.close-btn{
   max-width: 30px;
   font-size: 10px;
}