

.text-edit{
    display: flex;
    flex-direction: column;
    
   
}

.editor-layout {
    display: grid;
}


.text-edit {
    display: flex;
    gap: 10px;
}

.editor-layout .text-edit {
    display: flex;
    flex-direction: column;
}

